#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.fixed-game-word {
  font-size: 20px;
  margin-bottom: 10px;
}

.fixedwords-display{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 10px;
}

.fixedwords-word{
  margin: 3px;
  padding: 10px;
  box-sizing: border-box;
}